
.actions-recorder-controller {
  width: 400px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: hsl(140,3%,20%);
  color: white;
  font-family: Consolas, monospace;
  line-height: 1.8em;
  display: flex;
  flex-direction: column;
}

.actions-recorder-controller .recorder-monitor {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 600px;
}

.actions-recorder-controller .recorder-footer {
}

.actions-recorder-controller .recorder-footer .button + .button {
  margin-left: 0.5em;
}

.actions-recorder-controller .recorder-item {
  padding: 10px;
  line-height: 1.6em;
}
.actions-recorder-controller .recorder-item.is-pointer {
  background: hsla(0,100%,100%,0.2);
}
.actions-recorder-controller .record-title {}
.actions-recorder-controller .record-content {
  margin: 0 0 0 20px;
  overflow: auto;
  line-height: 1.4em;
  max-height: 200px;
  font-size: 12px;
}
