
.recorder-controller {
  width: 800px;
  height: 500px;
  position: fixed;
  top: 300px;
  left: 100px;
  background: hsla(240,60%,70%,0.8);
  color: white;
  font-family: Consolas, monospace;
  line-height: 1.8em;
  display: flex;
  flex-direction: column;
}

.recorder-header {
  -webkit-user-select: none;
}

.recorder-header input {
  background-color: hsla(0,100%,100%,0.6);
}

.recorder-viewer {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.recorder-controller .recorder-monitor {
  width: 240px;
  overflow-x: hidden;
}

.recorder-controller .recorder-item {
  padding: 5px 10px;
  cursor: pointer;
}
.recorder-controller .recorder-item.is-pointer {
  background: hsla(0,100%,100%,0.2);
}

.recorder-details {
  flex: 1;
  overflow: auto;
  padding: 20px;
}

.recorder-prev, .recorder-store {
  background-color: hsla(240,80%,40%,0.3);
  padding: 10px;
}

.recorder-action-data {
  background-color: hsla(60,80%,80%,0.3);
  padding: 10px;
}