
body {
}

.app {
}

.app-page {
  background-image: url(../images/record.jpg);
  background-size: cover;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  overflow-y: auto;
  position: absolute;
  height: 100%;
  width: 100%;
}

.app-todolist {
  color: black;
  width: 600px;
  height: 100%;
  overflow-y: auto;
}

.todolist-footer {
  padding: 0px 20px;
}

.todolist-table {
  padding: 20px;
  margin-top: 10px;
}

.todolist-task input {
  vertical-align: middle;
  background-color: hsla(0,100%,100%,0.8);
}

.todolist-task .checkbox {
  width: 30px;
  height: 30px;
  background-color: hsl(0,0%,90%);
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.todolist-task .checkbox.is-checked {
  background-color: hsla(240,30%,70%,0.4);
}

.note {
  padding: 20px;
}